@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: black;
}

@theme inline {
  --shadow-blue: 0px 0px 500px 25px;
  /* --shadow-blue-lg : 0px 0px  */
  --shadow-blue-md: 0px 0px 13px 4px;
}

@layer utilities {
  .scrollbar-ghost::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-ghost::-webkit-scrollbar-thumb {
    background-color: rgb(112, 122, 132);
    border-radius: 8px;
  }

  .scrollbar-ghost-1::-webkit-scrollbar {
    height: 4px !important;
  }
  .scrollbar-ghost-1::-webkit-scrollbar-thumb {
    background-color: rgb(112, 122, 132);
    border-radius: 8px;
  }

  @keyframes mySkeleton {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  .skeleton {
    background-image: linear-gradient(to right, #64748b, #475569, #334155);
    animation-name: mySkeleton;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }

  .title-font {
    @apply text-4xl md:text-6xl;
  }

  .title-gradient {
    @apply font-extrabold bg-linear-to-r from-blue-500 to-cyan-300 bg-clip-text text-transparent;
  }

  .button-gradient {
    @apply px-8 py-4 bg-linear-to-r from-blue-600 to-cyan-500 text-white font-bold text-lg rounded-2xl shadow-lg hover:shadow-[0_0_50px_rgba(59,130,246,0.6)] hover:scale-110 hover:-translate-y-1 transition-all duration-300 active:scale-95 cursor-pointer;
  }
  .feature-shadow {
    @apply shadow-[0_10px_30px_rgba(0,0,0,0.35)] hover:shadow-[0_20px_60px_rgba(59,130,246,0.35),0_0_25px_rgba(59,130,246,0.25)] transition-all duration-300;
  }
}
